.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.cards-item {
	width: 300px;
	height: 300px;
	margin: 50px;
	text-align: center;
}

.item-header {
	margin-bottom: -70px;
	position: relative;
}

.item-title {
font-size: 25px;
}

.item-img {
	width: 100%;
	height: 100%;
}

.item-coast {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: -50px;
	color: red;
}

.item-btn {
	border-radius: 15px;
	width: 110px;
	height: 30px;
	color: red;
	border: 1px solid red;
}